Other_project_related/flows.json
[{"id":"7b1eae964cb14137","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"01f16b94583ca951","type":"ui_chart","z":"7b1eae964cb14137","name":"","group":"4f87e66e2fa44e7c","order":2,"width":0,"height":0,"label":"SpO2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":550,"y":160,"wires":[[]]},{"id":"3a761c483522d24d","type":"ui_chart","z":"7b1eae964cb14137","name":"","group":"4f87e66e2fa44e7c","order":1,"width":0,"height":0,"label":"ECG","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-5","ymax":"5","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":550,"y":280,"wires":[[]]},{"id":"455e36689bbe3e1f","type":"ui_chart","z":"7b1eae964cb14137","name":"","group":"4f87e66e2fa44e7c","order":3,"width":0,"height":0,"label":"AI Inference","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":570,"y":220,"wires":[[]]},{"id":"c63ffc4e79018326","type":"mqtt in","z":"7b1eae964cb14137","name":"","topic":"spo2","qos":"2","datatype":"auto-detect","broker":"b91e1c23c00d10c9","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":160,"wires":[["01f16b94583ca951"]]},{"id":"b8443eca277cf07c","type":"mqtt in","z":"7b1eae964cb14137","name":"","topic":"ecg/data","qos":"1","datatype":"auto-detect","broker":"b91e1c23c00d10c9","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":240,"wires":[["e4f4afde8fa231f0","11ab9d865fba4f0f"]]},{"id":"e4f4afde8fa231f0","type":"function","z":"7b1eae964cb14137","name":"ECG_MSG_PARSING","func":"if (msg.payload.hasOwnProperty(\"A\")) {\n    return [{ payload: msg.payload.A }, null];\n} else if (msg.payload.hasOwnProperty(\"V\")) {\n    return [null, { payload: msg.payload.V }];\n}\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":240,"wires":[["455e36689bbe3e1f"],["3a761c483522d24d"]]},{"id":"11ab9d865fba4f0f","type":"debug","z":"7b1eae964cb14137","name":"mqtt raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":280,"y":300,"wires":[]},{"id":"4f87e66e2fa44e7c","type":"ui_group","name":"Edge_Anomaly","tab":"9eded723f321e226","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"b91e1c23c00d10c9","type":"mqtt-broker","name":"ECG","broker":"localhost","port":"8883","tls":"dee75492e52ebb08","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"ecg/data","birthQos":"1","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"9eded723f321e226","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"dee75492e52ebb08","type":"tls-config","name":"HiveMQ-TLS","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.pem","servername":"","verifyservercert":false,"alpnprotocol":""}]